
.header-top{
    width: 100%;
    height: 5vh;
    background-color: black;
    
}
.header-bottom{
    width: 100%;
    height: 10vh;
    border: 1px solid black;
    background-color: #fff;
   
}

.jumbo{
    width: 100%;
    height: 50vh;
    background-color: red;
}
.item{
    width: 100%;
    height: 20vh;
    border: 1px solid black;
    background-color: chartreuse;
}
.titolo{
    width: 100%;
    height: 20vh;
    border: 1px solid black;
    text-align: center;

}
.info-ps{
    height: 90vh;
    background-color: blue;
    border: 1px solid black;
}
.foto-ps{
    height: 90vh;
    background-color: yellow;
    border: 1px solid black;
}
.item-ps{
    height: 20vh;
    border: 1px solid black;
    background-color: pink;
}
.album{
    height: 80vh;
    background-color: grey;
}
.titolo-giochi{
    height: 10vh;
    border: 1px solid white;
    color: white;
}
.giochi{
    height: 20vh;
    border: 1px solid white;
    background-color: tomato;
}
.ps4{
    height: 10vh;
    border: 1px solid black;
}
.info-ps4{
    background-color: violet;
    height: 10vh;
    border: 1px solid black;
}
.sconti{
    height: 20vh;
    border: 1px solid black;
    text-align: center;
}
.info-sconti{
    height: 30vh;
    border: 1px solid black;
}

.titolo-social{
    height: 30vh;
    text-align: center;
}
.foot{
    height: 30vh;
    background-color: blue;
}